<h2>Login To Finstagram</h2>
<%= @error_message if @error_message %>

<form method="POST" action="login"
    
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="">
    </div>
    
    <div class="form-group">
        <button type="Submit">Submit</label>
        </div>
</form>